/* Global styles */
body, html{
  width: 100%;
  height: 100%;
  margin-top: 30px;
}

.default{
  padding-top: 60px;
  background-color: white;
  min-height: 100vh;
  color: black
}

.mushroomContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

.mushroomBoxes {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: black;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 150px;
}

.mushroomBoxes img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 8px;
}
